body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 400%;
  color: #FFD700;
}

.App-header h3 {
  font-family: 'Share Tech', sans-serif;
  color: #b19cd9;
}

#form-helper-text {
  font-family: 'Share Tech', sans-serif;
  color: #4B0082;
}
